<div class="max-w-6xl mx-auto px-6 lg:px-8">
  <div class="max-w-xl mx-auto">
    <h1 class="font-bold text-center">Dragon Ball Z</h1>
    <hr class="mt-2 border border-gray-200">
  </div>

  <div class="my-5">
    <form (ngSubmit)="agregar()">
      <input type="text" name="nombre" [(ngModel)]="personaje.nombre" class="block border mt-3" placeholder="Ingrese nombre de producto">
      <input type="text" name="poder" [(ngModel)]="personaje.poder" class="block border mt-3" placeholder="Ingrese precio">
      <button type="submit" class="bg-slate-200">
        Agregar
      </button>
    </form>
  </div>

  <div class="mt-5">

    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Product name
            </th>
            <th scope="col" class="px-6 py-3">
              Color
            </th>
            <th scope="col" class="px-6 py-3">
              Category
            </th>
            <th scope="col" class="px-6 py-3">
              Price
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let personaje of datos ">
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{personaje.nombre}}
            </th>
            <td class="px-6 py-4">
              {{personaje.poder}}
            </td>
            <td class="px-6 py-4">
              <button class="bg-red-500 text-white p-3 rounded-lg">
                Borrar
              </button>
            </td>
            <td class="px-6 py-4">
              $2999
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
